body {
    margin: 0;
    padding: 0;
    line-height: 1.5em;
    font-family: Verdana, Arial, san-serif;
    font-size: 12px;
    color: #ffffff;
    background: #4b4743;
}

a:link, a:visited { color: #e6e154; text-decoration: none; font-weight: bold; font-size: 12px;} 
a:active, a:hover { color: #e6e154; text-decoration: underline; font-size: 12px;}

p {
    margin: 0px;
    padding: 0px;
}

img {
    margin: 0px;
    padding: 0px;
    border: none;
}

.cleaner {
    clear: both;
    width: 100%;
    height: 1px;
    font-size: 1px;	
}

.cleaner_with_height {
    clear: both;
    width: 100%;
    height: 30px;
    font-size: 1px;	
}

.cleaner_with_width {
    float: left;
    width: 20px;
    height: 30px;
    font-size: 1px;	
}

.product_box .action_button {
    float: right;
    margin-top: 120px;
}

.book .action_button {
    float: right;
}

.shoppingcart .action_button {
    float: right;
}

.action_button {
    margin-top: 20px;
}

.action_button a{
    clear: both;
    text-align: center;
    display: block;
    width: 100px;
    padding: 4px 0 5px 0;
    background: url(images/btn_02.jpg) no-repeat;
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;

}

.continue_button button{
    clear: both;
    text-align: center;
    display: block;
    width: 130px;
    padding: 4px 0 8px 0;
    background: url(images/btn_03.jpg) no-repeat;
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    border: 0;
    cursor: pointer;
}

.detail_button a{
    clear: both;
    text-align: center;
    display: block;
    width: 100px;
    padding: 4px 0 5px 0;
    margin-bottom: 10px; 
    background: url(images/btn_01.jpg) no-repeat;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

#container{
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
    background: #1c1c1b url(images/bg.jpg) repeat-y;
}


/* menu */

#menu {
    clear: both;
    width: 960px;
    height: 45px;
    background: url(images/menu_bg.jpg) no-repeat;
    float:right;
}

#menu ul {
    padding: 13px 0 0 0;
    margin: 0;
    list-style: none;
    float:right;
    width:auto;
}

#menu ul li{
    display: inline;
    float: left;
}

#menu ul li a{
    float: left;
    padding: 0 20px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #969547;
}

#menu li a:hover, #menu li .current{
    color: #fcf88e;
}

/* end of menu*/

/* shopping cart popup */
#shoppingBagWindow {

    width: 400px;
    border: solid 1px #cacaca;
    position: relative;
    z-index: 101;
    top: 45px;
    padding: 10px;
    background: none repeat scroll 0 0 #1c1c1b;
}

#shoppingBagWindow .cartdetails {
    width:100%;
}

#shoppingBagWindow .continue_button{
    display: inline-block;
}

#shoppingBagWindow .action_button{
    display: inline-block;
}

#shoppingBagWindow .button{
    margin: 10px 0 0 160px;
}

/* end of shopping cart popup */

/* header */
#header {
    clear: both;
    width: 960px;
    height: 285px;
    padding: 0;
    margin: 0;
    background: url(images/header_bg.jpg) no-repeat;
}

#header a,a:hover {
    color: #ffffff;
    font-size: 12px;
}

#header #homelink {
    display: block;
    height: 100%;
    width: 460px;
    text-decoration: none;
    float:left;
}

#homelink .home {
    display: block;
    height: 100%;
    width: 100%;
}

#header #special_offers {
    float: left;
    font-size: 14px;	
    margin-top: 95px;
    margin-left: 30px;
    width: 180px;
}

#special_offers a {
    font-size: 12px;
}

#special_offers  p {
    margin: 0 0 20px 0;
}
#special_offers p span {
    font-size: 18px;
}

#header #new_books {
    float: left;
    margin-top: 90px;	
    margin-left: 35px;
    width: 210px;
}

#new_books ul {
    margin: 0 0 10px 0;
    padding: 0 0 0 20px;
}

#new_books li {
    margin: 0;
    padding: 0; 
}

#adminheader {
    clear: both;
    width: 960px;
    height: 285px;
    padding: 0;
    margin: 0;
    background: url(images/header_bg_admin.jpg) no-repeat;
}

#adminheader a,a:hover,a:visited {
    color: #ffffff;
}

#adminheader #orders {
    float: left;
    font-size: 14px;	
    margin-top: 95px;
    margin-left: 490px;
    width: 180px;
}

#orders ul {
    margin: 0 0 10px 0;
    padding: 0 0 0 20px;
}

#orders li {
    margin: 0;
    padding: 0;
}

#adminheader #reviews {
    float: left;
    margin-top: 90px;	
    margin-left: 55px;
    width: 180px;
}

#reviews ul {
    margin: 0 0 10px 0;
    padding: 0 0 0 20px;
}

#reviews li {
    margin: 0;
    padding: 0;
}

/* end of header */


/* content */
#content {
    clear: both;
    width: 920px;
    padding: 0 20px;
}

#content #content_left {
    float: left;
    width: 188px;
    padding: 10px;
    background-color: #171716;
    border: 1px solid #212120;
}

#content #content_right {
    float: right;
    width: 670px;
}

#content .loginform{
    width: 213px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}


#content_left .content_left_section{
    clear: both;
    padding-bottom: 10px;
    border-bottom: 1px solid #2b2b2a;
    margin-bottom: 20px;
}

.content_left_section h1 {
    font-size: 14px;
    color: #cbc750;
    padding: 0 0 5px 0;
    margin: 0 0 10px 0;
    border-bottom: 1px dotted #cbc750;
}

.content_left_section ul {
    padding: 0;
    margin: 0;
}

.content_left_section ul li{
    padding: 0 0 3px 10px;	
    list-style: none;
}

.content_left_section ul li a{
    font-weight: normal;
    text-decoration: none;
    color: #969547;
    font-size: 14px;
}

.content_left_section li a:hover, .content_left_section li .current{
    color: #fcf88e;
}

.content_left_section .bestsellers{
    text-align: center;
    margin: 0 0 20px 0;
}

#content_right .product_box {
    float: left;
    width: 600px;
    height: 150px;
    padding: 10px;
    border: 1px solid #333;
}

#content_right h1 {
    padding: 10px;
    margin: 0 0 20px 0;
    font-size: 15px;
    color: #cbc750;
    background: url(images/h1_bg.jpg);
}

#content_right .product_box h2 {
    padding: 0 0 0 0;
    margin: 0 0 10px 0;
    font-size: 14px;
    color: #e6e154;
}

#content_right h3 {
    padding: 0;
    margin: 0 0 20px 0;
    font-size: 18px;
    color: #85391f;
}

#content_right .product_box a {
    font-size: 12px;
}

#content_right .product_box ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#content_right .special_product_box {
    float: left;
    width: 300px;
    height: 150px;
    padding: 10px;
    border: 1px solid #333;
}

#content_right .special_product_box ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.special_product_box .save{
    font-size: 36px;
    color:#e6e154;
    
}


#content_right li {
    padding: 0 0 1px 0;
}

#content_right li .listprice {
    text-decoration: line-through;
}

#content_right .bookdetails h2 {
    padding: 0 0 0 0;
    margin: 0 0 10px 0;
    font-size: 14px;
    color: #e6e154;
}

#content_right .bookdetails ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#content_right .product_info .image_panel {
    float: left;
    width: 110px;
    margin-right: 20px;
}

#content_right .image_panel {
    float: left;
    margin-right: 20px;
}

#content_right p {
    text-align: justify;
    padding: 0 0 8px 0;
}

#content_right .thankyou{
    text-align: center;
    margin: 50px 0 50px 0;

}

.product_box h1 span {
    font-weight: normal;
}

.product_box img {
    float: left;
    margin-right: 20px;
}

.product_box .product_info {
    width: 500px;
    float: left;
}

.product_info p {
    margin-bottom: 15px;
}

#content_right .cartdetails{
    width: 100%;
    margin: 0 0 20px 0;
    border-bottom: 1px solid #2b2b2a;
}

.cartdetails .header{
    text-align: left;
    border-bottom: 1px solid #2b2b2a;
}

.cartdetails .cartColumn{
    padding: 5px;
}

#content_right .cartsummary{
    float: right;
    width: 200px;
}

#content_right .cartsummary .total{
    font-weight: bold;
    font-size: 14px;
}

#content_right .orderdetails{
    width: 100%;
    margin: 0 0 20px 0;
    border-bottom: 1px solid #2b2b2a;
}

.orderdetails .header{
    text-align: left;
    border-bottom: 1px solid #2b2b2a;
}

.orderdetails .cartColumn{
    padding: 5px;
}

#content_right .ordersummary{
    float: right;
    width: 150px;
}

#content_right .ordersummary .total{
    font-weight: bold;
    font-size: 14px;
}

#content_right .reviews{
    margin-bottom: 10px;
}

#content_right .reviews .date{
    color: #999;
    font-size: 11px;
}

#content_right .newreview{
    width: 400px;
}

#content_right .reviewaction{
    margin-right: 10px;    
}

#content_right .reviewhr{
    height:1px;   
}

#content_right #reviewmessage{
    margin-top: 50px;
    display: none;
    width: 100%;
    border: 1px solid #2b2b2a;
    background-color: #b81900;
    padding: 10px;
}

/* end of content */

/* footer */
#footer {
    clear: both;
    width: 960px;
    padding: 20px 0px 20px 0;
    text-align: center;
    border-top: 1px solid #25211e;
    color: #999;
    background-color: #111110;
}

#footer a{
    color: #fff;
    font-weight: normal;
}

.errorMessage {
    color:red; 
}

.linkText {
    font-size: 14px;
    color: #cbc750;

    margin:  10px;
}


.adminbutton {
    clear: both;
    text-align: center;
    display: block;
    width: 100px;
    padding: 4px 0 5px 40px;
    margin-bottom: 10px; 
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

.order-table {
    width:100%;
}

.order-table .order-table-header{
    text-align: left;
    border-bottom: 1px solid #2b2b2a;
}

.order-table .order-table-odd-row{

}

.order-table .order-table-even-row{
    background-color:#0f0f0f;
}

.order-table .cartColumn{
    padding: 5px;
}

#content_right .billinginfo{
    border: 1px solid #2b2b2a;
    margin-bottom: 20px;
}
/* end of footer */